- var formId = "delete-form"
- var title = "Yakin ingin menghapusnya?"
- action = deleteAction

include BaseModal.pug
    block form
        input#id-to-delete(
            type="hidden"
            name=delVar
        )
        .w3-center
            button.w3-btn.w3-red.w3-margin-top.w3-margin-bottom(type="Submit") Hapus
            button.w3-btn.w3-teal.w3-margin-top.w3-margin-bottom(
                type="button"
                onclick="document.getElementById('delete-form').style.display='none'"
            ) Batal