table.w3-table.w3-centered.w3-border.w3-bordered.w3-hoverable
    thead
        tr
            th No
            th SKU
            th Nama Item
            th Jumlah Sekarang
            th Actions
    tbody
        | {{range $index, $itemAmount := .}}
        tr
            td \#{{$index}}
            td(id="td-{{$index}}-id") {{$itemAmount.SKU}}
            td(id="td-{{$index}}-name") {{$itemAmount.Name}}
            td(id="td-{{$index}}-quantity") {{$itemAmount.Quantity}}
            td
                include BaseAction.pug
        | {{end}}