table.w3-table.w3-centered.w3-border.w3-bordered.w3-hoverable
    thead
        tr
            th No
            th ID
            th Waktu
            th SKU
            th Nama Barang
            th Jumlah Keluar
            th Harga Jual
            th Total
            th ID Pesanan
            th Catatan
            th Actions
    tbody
        | {{range $index, $itemOut := .}}
        tr
            td \#{{$index}}
            td(id="td-{{$index}}-id") {{$itemOut.ID}}
            td(id="td-{{$index}}-time") {{convertToUITime $itemOut.Time}}
            td(id="td-{{$index}}-sku") {{$itemOut.SKU}}
            td {{$itemOut.Name}}
            td(id="td-{{$index}}-amount-out") {{$itemOut.AmountOut}}
            td(id="td-{{$index}}-selling-price") {{$itemOut.SellingPrice}}
            td {{$itemOut.Total}}
            td(id="td-{{$index}}-order-id") {{$itemOut.OrderID}}
            td(id="td-{{$index}}-notes") {{$itemOut.Notes}}
            td
                include BaseAction.pug
        | {{end}}